/* default */
.form-group{
    overflow: hidden;
}
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
 }
*{
    font-family: 'Poppins' !important;
}
a{
    text-decoration: none !important;
}
li.display_inline_block.active_menu a {
    color:#fff !important
}
.default_color{
    color: #0393FB !important;
}
.default_bg{
    background: #0393FB !important;
}
.active_menu{
    background: #0393FB !important;
    color: white !important;
    border-radius: 5px;
}
.active a{
    color: white !important;
}
.tab-pane{
    position: relative;
}
.dispaly-none{
    display: none;
}
label{
    cursor: pointer;
}
input[type="checkbox"]{
    cursor: pointer;
}
.mibile_view {
    display: none;
  }
  #multicityAirportToThanaSection{
      display: none;
  }
  #multicityAirportToThanaSection1{
    display: none;
}
#multicityAirportToThanaSection2{
    display: none;
}
#multicityAirportToThanaSection3{
    display: none;
}
#multicityAirportToThanaSection4{
    display: none;
}
#multicityThanaToAirportSection{
    display: none; 
}
#multicityThanaToAirportSection1{
    display: none; 
}
#multicityThanaToAirportSection2{
    display: none; 
}
#multicityThanaToAirportSection3{
    display: none; 
}
#multicityThanaToAirportSection4{
    display: none; 
}
.multicityAirportToThanaSection{
    display: inline-flex !important;
}

.multicityAirportToThanaSection1{
  display: inline-flex !important;
}

.multicityAirportToThanaSection2{
  display: inline-flex !important;
}

.multicityAirportToThanaSection3{
  display: inline-flex !important;
}

.multicityAirportToThanaSection4{
  display: inline-flex !important;
}

.multicityThanaToAirportSection {
    display: inline-flex !important;
}

.multicityThanaToAirportSection1 {
    display: inline-flex !important;
}

.multicityThanaToAirportSection2 {
    display: inline-flex !important;
}

.multicityThanaToAirportSection3 {
    display: inline-flex !important;
}

.multicityThanaToAirportSection4 {
    display: inline-flex !important;
}
/* Header Css */
header#header {height: 100px;background: #fff;box-shadow: 3px 8px 11px -11px #000;z-index: 99;position: fixed;width: 100%;}
.header_icon_wrap img {
    width: 200px;
}

.top_nav_wrap {
    margin-top: 10px;
}

.header_icon_wrap {
    align-items: center;
    display: flex;
    height: 100px;
}
.nav_hotline span {
    background: #F9F9F9;
    padding: 5px;
    border-radius: 5px;
}
.nav_hotline {
    font-size: 17px;
    padding: 5px 0px;
    margin-right: 7%;
    margin-left: 3%;
}
.nav_apps_download{
    background: #FFE351;
    height: 30px;
    border-radius: 7px;
    margin-right: 3%;
}
.nav_apps_download .app_store_icon {
    width: 9%;
    margin-right: 2px;
}
.nav_select_language.display_inline_block {
    margin-right: 2%;
}
 .nav_apps_download.display_inline_block button {
    font-size: 13px;
}
.nav_select_language.display_inline_block button {
    width: 150px;
    border-radius: 10px;
    background: #0393FB;
    padding: 5px 0px;
}
 .nav_select_language.display_inline_block img {
    width: 15%;
    margin-right: 11px;
    margin-top: -3px;
}
select.form-select.default_bg.text-light {
    border-radius: 10px;
}

.nav_select_country.text-light.display_inline_block button {
  padding: 5px 25px;
  background: #0393FB;
  border-radius: 10px;
}
.main_nav ul li a {
    font-size: 18px!important;
    color: #000;
   padding: 5px 20px;
   margin-left: 1px;
   font-weight: 400;
   letter-spacing: 1px;
}

#header .main_nav {
    margin-top: 1%;
}
.display_inline_block{
    display: inline-block;
}
/* Header end */

/* Booking Form Css */
.booking_form_banner {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 745px; */
    /* display: flex;
    align-items: center; */
}
section#booking_form {
    position: relative;
}
.booking_form-select_tab {
    margin: auto;
    text-align: center;
    display: flex;
    margin-bottom: 32px;
    justify-content: center;
    border: none;
}
.booking_form_body {
    padding-top: 200px;
}
.booking_nav_tabs{
      background: #fff;
      color:#000;
      border-radius: 10px;
}
.booking_nav_tabs button{
      color: #000;
}
.booking_form_active .active .slide {
    background: linear-gradient(294.55deg, #00ADEE 3.94%, #32B9AE 47.56%, #C3D82E 123.93%)!important;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 10px;
    top: 0;
    transition: all 0.9s ease;

}
.booking_form_active .slide {
    background: linear-gradient(294.55deg, #00ADEE 3.94%, #32B9AE 47.56%, #C3D82E 123.93%)!important;
    z-index: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    border-radius: 10px;
    top: 0;

}
li.nav-item.booking_form_active button {
    border: none;
    padding: 15px 28px;
    background: #fff;
    border-radius: 10px;
    position: relative;
}

.booking_nav_tabs img {
    width: 12px;
    margin-right: 7px;
}

.booking_form_content_wrap {
    width: 80%;
    margin: auto;
    background: #fff;
    padding: 25px 35px 30px;
    border-radius: 10px;
}

.single_trip_form_select {
    border: solid 1px #ddd;
}

.single_trip_form_select:first-child {
    border: solid 1px #ddd;
    border-radius: 6px 0px 0px 6px;
}

.single_trip_form_select:last-child {
    border-radius: 0px 6px 6px 0px;
}

.single_trip_form_select select {
    border: none;
    border-radius: 0;
}

.form-select:focus {
      box-shadow: none !important;
}
.booking_form_active_img_active{
    display: none;
}
.booking_form_active .active img{
    display: none;
}
.booking_form_active .active{
    color: #fff;
    z-index: 2;
}
.booking_form_active .active .booking_form_active_img_active {
    display: inline-block !important;
}
.booking_form_village_name{
    padding: 16px 18px !important;
    border: none;
    color: #0393FB !important;
}
.booking_form_village_name:focus{
    outline: none;
    box-shadow: none;
    color: #0393FB !important;

}
.booking_form_village_name::placeholder{
    color: #0393FB !important;
}
label.booking_form_label img {
    width: 17px;
}
.SingleTripSort.ac {
    position: absolute;
    top: 84px;
    right: 10px;
    cursor: pointer;
}

.SingleTripSort.ac img {
    width: 40px;
}
.SingleTripSort.dec {
    position: absolute;
    top: 85px;
    right: 10px;
    cursor: pointer;
}

.SingleTripSort.dec img {
    width: 40px;
}
#booking_form_label_option {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#booking_form_label_option input {
    margin-right: 6px;
}

#booking_form_label_option label {
    margin-right: 20px;
    font-weight: 500;
}
.booking_form_label_option2 {
    margin-bottom: 20px;
    text-align: center;
}

.booking_form_label_option2 input {
    margin-right: 6px;
}

.booking_form_label_option2 label {
    margin-right: 20px;
    font-weight: 500;
}
#booking_form_label_option2 {
    margin-bottom: 13px;
}

#booking_form_label_option2 input {
    margin-right: 6px;
}

#booking_form_label_option2 label {
    margin-right: 20px;
    font-weight: 500;
}
.booking_form_button {
    position: absolute;
    top: 165px;
    font-size: 16px;
    border: solid 1px #DDD;
    border-radius: 48px;
    width: 26px;
    text-align: center;
    color: #0393FB;
    left: 1%;
    font-weight: 500;
}
.booking_form_button_single_trip {
    margin-bottom: 10px;
    font-weight: 500;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="0" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
    float: right;

}
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
    float: right;
    

}
input[type="datetime-local"] {
    display: flex;
    flex-flow: row-reverse;
    padding: 15px 20px;
    height: auto;
 }
 label#AddMultiCityRow {
    position: absolute;
    top: 60px;
    text-align: right;
    cursor: pointer;
    display: inline;
    width: 20%;
    right: 0;
}
label#AddMultiCityRow span {
    background: #35B587;
    color: #fff;
    padding: 2px 18px 4px;
    vertical-align: middle;
    font-size: 13px;
    border-radius: 6px;
    font-weight: 300;
    letter-spacing: 1px;
}
label#AddMultiCityRow img {
    width: 16px;
}

.highlight{
    background-color: #ff5900 !important;
    color: #ffffff !important;
  }
  .datepicker {
    padding: px !important;
}
.datepicker .day {
    width: 33px !important;
    height: 33px !important;
}

.dateTimePicker .dropdown {
    position: absolute !important;
}
.perfect-datetimepicker-remove{
    display: none !important;
}
#multi-city-trip .single_trip_form_select .col-md-2.display_inline_block {
    padding-left: 20px !important;
}

/* View Rent Button Css */

.view_rent_button {
    text-align: center;
    margin-top: 5%;
    padding-bottom: 10%;
}
.view_rent_button button {
    width: 200px;
    position: relative;
}
span.view_rent_span1 {
    width: 80px;
    background: #fbda2c;
    height: 45px;
    border-radius: 10px 55px 0px 10px;
    position: absolute;
    left: 0;
}
span.view_rent_span2 {
    width: 100%;
    background: #F4CE02;
    height: 45px;
    overflow: hidden;
    display: inline-block;
    border-radius: 0px 10px 10px 0px;
}
span.view_rent_text {
    position: absolute;
    left: 50px;
    top: 13px;
    font-weight: 700;
}
button.rent_button {
    border: none;
    background: transparent;
}
div#offer img {
    width: 300px;
}
.offer{
    width: 90%;
    margin: 50px auto;
}

.offer_section {
    position: relative;
}

.offer_section_button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.offer_section_button button {
    border: none;
    background: #0366FB;
    padding: 2px 15px;
    border-radius: 5px;
}

.offer_section_button a {
    color: #fff;
    font-size: 12px;
}
.offer_section_button a:hover {
    color: #fff;
    font-size: 12px;
}
.offer_section_button img {
    width: 10px !important;
    display: inline-block !important;
}
div#services {
    background: #D8EEFF;
    padding: 0px 0px 40px 0px;
}

.section_title h4 {
    background: linear-gradient(294.55deg, #00ADEE 3.94%, #32B9AE 47.56%, #C3D82E 123.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    text-align: center;
    padding: 30px 0px;
    font-size: 35px;
    background-clip: text;
 }
 .section_title p {
    width: 65%;
    text-align: center;
    margin: auto;
    margin-top: -20px;
}
.services_box {
    background: #0366FB;
    padding: 19px;
    text-align: center;
    /* width: 220px; */
    /* margin-top: 100px; */
    border-radius: 10px;
    height: 190px;
}

.services_box_ico img {
    width: 65px !important;
    margin: auto !important;
    margin-top: 15px;
}

.services_box_description h4 {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    padding-top: 12px;
}

.services_box_description p {
    font-size: 12px;
    color: #ffffff;
    font-weight: 100;
    opacity: 0.7;
}
.services_box_wrap {
    margin-top: 30px;
}
.services_box_ico.services_box_ico2 img {
    width: 41px !important;
}
.services_box_ico.services_box_ico3 img {
    width: 50px !important;
}

/*  */
.roundTripHeaderWrap {
    width: 20%;
    float: left;
    background: #f7f7f7;
    padding: 15px 28px;
    border: solid 1px #0393fb;
    border-radius: 10px 0px 0px 10px;
}

.roundTripHeaderWrap2 {
    width: 20%;
    float: left;
    padding: 15px 27px;
    border: solid 1px #0393fb;
    border-radius: 0px 10px 10px 0px;
    background: #f7f7f7;
}
.rondTripLabelmain {
    overflow: hidden;
    margin-top: 17px;
    margin-bottom: 15px;
}
.labelActive {
    background: #0393fb !important;
}

.labelActive label {
    color: #fff !important;
}
.labelActive input {
    accent-color: #fff;
}
.CarRentalMobileView  {
    background: #f9f9f9;
    padding: 15px 20px;
    border-radius: 10px 0px 0px 10px;
    border-left: solid 1px #0393fb;
    border-top: solid 1px #0393fb;
    border-bottom: solid 1px #0393fb;
}
.CarRentalMobileView3  {
    background: #f9f9f9;
    padding: 15px 20px;
    border: solid #0393fb 1px;
    border-radius: 0px 10px 10px 0px;
}
.CarRentalMobileView1  {
    background: #f9f9f9;
    padding: 15px 20px;
    border: solid 1px #0393fb;
}
.CarRentalMobileView2  {
    background: #f9f9f9;
    padding: 15px 20px;
    border-top: solid #0393fb 1px;
    border-bottom: solid 1px #0393fb;
}
.insideDhakaCarRental {
    width: 28%;
    padding: 9px 20px;
    border: solid #0393fb 1px;
    background: #f9f9f9;
    border-radius: 10px 0px 0px 10px;
}

.outsideDhakaCarRental {
    width: 28%;
    padding: 9px 20px;
    border: solid #0393fb 1px;
    background: #f9f9f9;
    border-radius: 0px 10px 10px 0px;
}



div#CarRentalFooterCheckbox {
    display: flex;
    justify-content: center;
}#booking_form_label_option_multi_city , #booking_form_label_option_multi_city1 , #booking_form_label_option_multi_city2 , #booking_form_label_option_multi_city3 ,  #booking_form_label_option_multi_city4{
    display: flex;
    justify-content: center;
}

.multiCityAirportToThanaLabelWrap {
    padding: 15px 20px;
    background: #f9f9f9;
    border: solid 1px #0393fb;
    border-radius: 10px 0px 0px 10px;
}

.multicityThanaToArportLabelWrap {
    padding: 15px 20px;
    background: #f9f9f9;
    border: solid 1px #0393fb;
    border-left: none;
    border-radius: 0px 10px 10px 0px;
}
.services_box_ico.services_box_ico4 img {
    width: 45px !important;
    margin-top: 15px !important;
}
.services_box_ico.services_box_ico6 img {
    width: 40px !important;
    margin-top: 18px !important;
}
div#apps_download img {
    width: 100%;
}